.main-pizza-item{
    border: 2px solid black;
    padding: 12px;
    border-radius: 8px;
    background-color: white;
    img{
        width: 100%;
    }
    p{
        text-align: center;
        line-height: 150%;
        &:nth-child(2) {
            font-weight: bold;
            font-size: 32px;
        }
    }
}