.main-pizza-menu{
    width: 100%;
    max-width: 1440px;
    margin: 0px auto;
    height: auto;    
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
    padding: 30px;
    background-color: rgba(184, 99, 80, 0.178);
}